*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
/*--------Header Section------*/
header{
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 1;

}

.header-left{
    width: 20%;
    text-align: right;
    margin: 1% 0px;
    cursor: pointer;
}

.header-left a{
    color: white;
    font-size: 20px;

    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
}
.header-left-p a{
    font-size: 10px;
    letter-spacing: 1px;

}
.header-left-p  span{
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;

}
.header-left-p:hover{
    text-decoration: underline;
    color: white;

}
.header-center{
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;

}
.header-center-input{
    margin-top: 10px;
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: auto;
    border-radius: 2px;

}
.fa-magnifying-glass{
    position: absolute;
    top: 36%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;

}
/*------- login button----------*/
.login{
    position: relative;
    left: 45px;
    margin-top: 17px;

}
.login_btn{
    color: #2874f0;
    border-radius: 2px;
    border: 1px solid white;
    background-color: white;
    height: 32px;
    letter-spacing: 1px;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;

}
.more{
    position: relative;
    margin-top: 17px;

}
.cart{
    margin-top: 17px;
    margin-right: 60px;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.more-icon{
    color: #2874f0;
    margin-left: 15px;
    padding: 20px;

}
.more_lan{
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 20px;

}
.pointer{
    width: 20px;
    height: 20px;
    background: black;
    transform: rotate(45deg);
    position: relative;
    top: 10px;
    left: 80%;

}
.fa-angle-down:hover{
    transform: rotate(180deg);

}
.more_dropdown, .login_dropdown{
    position: relative;
    top: 12px;
}
.login_dropdown_list, .more_dropdown_list{
    position: absolute;
    list-style: none;
    background-color: white;
    width: max-content;
    box-shadow: 0 4px 16px - rgb(0 0 0 / 20%);
    min-width: 240px;
    transform: translate(-30px);
}
.login_drop_li{
    padding: 16px 20px;
    border-bottom: 1px solid white;
    font-size: 14px;
    cursor: pointer;

}
.login_drop_li .fa-solid{
    color: #2874f0;
    padding-right: 10px;
}
.login_drop_li:hover{
    background: rgb(196, 196, 163);
}
.login_drop_li:first-child{
    padding: 20px;
}
.login_drop_li:last-child:hover{
    color: white;
}
.login_drop_li:last-child{
    padding: 20px;
}
.login:hover .login_dropdown, .more:hover .more_dropdown{
    display: block;
}
.sign_up{
    text-decoration: none;
    color: #2874f0;
}
.sign_up:hover{
    text-decoration: underline;
    color: #2874f0;
}
.sign.li{
    justify-content: space-between;
    font-size: 14px;
}
.new_login{
    font-weight: bold;

}
.cart_lan .fa-cart-shopping{
    padding-right: 12px;
    padding-top: 20px;
    color: white;
    cursor: pointer;
}
/*-------category section----------*/
.category-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;

}
.category-col{
    padding: 10px 0px;
    cursor: pointer;
    color: rgb(85,83,83);
}
.category-col img{
    width: 100px;
    height: 80px;
}
.category-col h5:hover{
    color: #2874f0;
}
/*---------category dropdown section----------*/
.dropdown{
     background-color: rgb(240, 242, 244);

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content .header{
    background: gainsboro;
    padding: 0px;
    color: white;
}
.col a{
    float: none;
    color: black;
    padding: 8px;
    text-decoration: none;
    border-radius: 2px;
    display: block;
    text-align: left;
}
.col{
    float:left;
    width: 33.33%;
    padding: 10px;
    background-color: white;
    height: auto;
}
.col a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;

}
/*-------banner section------*/
.banner{
    width: 100%;
    /* overflow-x: scroll; */
    overflow:hidden;
}
.slider{
    display: flex;
    flex-direction: row;
    position: relative;
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-delay: 2s;
    transition: all;

}
.slider img{
    width: 100%;
 /* position: absolute; */
 padding: 3px;

}

@keyframes slider{
    0%{
        left:0px;
    }

    20%{
        left:0px;
    }

    40%{
        left: -1520;
    }
    60%{
        left: -3060px;
    }

    80%{
        left:-4560px;
    }
    90%{
        left:-5400px;
    }
    100%{
        left: -5600px;
    }

}

   /* common for all items */

.card{
    box-shadow: rgb(174,174,174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius: 5px;
}

.common-heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.common-heading-left h1{
    font-size: 20px;
    font-weight: 200;
    padding: auto;
}

.common-heading-right button{
    width: 90px;
    height: 40px;font-size: 18px;
    border: none;
    color: white;
    background-color: #2874f0;
    border-radius: 2px;
}

.common-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 336px;
    margin: 10px 0px;
}
.common-col{
    text-align: center;
    line-height: 22px;
}
.common-col img{
    width: 69px;
    height: 150px;
    transition: 300ms;
    margin: auto;

}
.common-col img:hover{
    transform: scale(1.1);
}

.common-col h3 h4 h6{
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

.common-col h3{
    margin-top: 10px;
    font-size: 16px;
}

.common-col h4{
    color: green;
    font-size: 14px;
    font-weight: 300;
}
.common-col h6{
    font-size: 12px;
    color: grey;
    font-weight: 100;
}
.col-deals img{
width: 145px;
height: 150px;
}

#add-cart:hover{
    color:#2874f0
}
/* / footer */
footer{
background-color: rgb(43 76 117);
height: 400;
}

.footer-row{
    display: flex;
    justify-content:space-around;
}
.footer-list{
    display: flex;
    flex-direction: column;
}
.footer-row{
    width: 100%;
    height: 320px;
    padding: 30px 60px;
}
.footer-row-2{
    display: flex;
    border-top: 1px solid #4545;
    justify-content: space-evenly   ;
}
.footer-col-1{
    width: 15px;
    text-align: center;
}
.footer-col-2{
    width: 15px;text-align: center;
}
.footer-col-3{
    width: 15px;text-align: center;
}
.footer-col-4{
    width: 15px;text-align: center;
}
.footer-col-5{
    width: 20px;
    border-left: 1px solid #4545;
    height: 120px;
    padding-left: 25px;text-align: center;
}
.footer-col-6{
    width: 20px;
    padding-left: 50px;text-align: center;
}
.footer-heading p{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.footer-list a{
    display: block;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
    color: white;font-weight: 400;
    font-size: 12px;
    padding: 5px 0;
}

.fa-bag-shopping,.fa-star,.fa-gift,.fa-circle{
    color: yellow;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}
.footer-row2-col p{
    color: white;
    font-size: 15px;
    font-weight: 100px;
    line-height: 20px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.7;
}
.footer-row2-col img{
    width: 10%;
    height: 10%;
    position: relative;
}
/* media query breakpoints to handle the website on mobile devices */
@media(max-width: 450px){
  .common-row, .common-heading{
    display:inline-block;
  }
  .common-row{
    max-height: none;
  }
  .common-col {
    text-align: center;
    line-height: 22px;
    display: inline-block;
    margin: 12.5px;
  }
  .common-heading-right button {
    display: inline;
    position: relative;
    left: 245;
    bottom: 30;
  }
  .rem{
    display: none;
  }
  .footer-row{
    justify-content: space-between;
  }
  header{
    display: block;
    height: 95px;
  }
  .header-left{
    margin:0;
  }
  .header-center{
    margin-top: 2.5px;
    width: 72%;
    position: relative;
    left: 90;
    bottom:45;
  }
  .login {
    position: relative;
    left: 0;
    bottom: 48;
  }
  .more {
    width: fit-content;
    position: relative;
    left: 180;
    bottom: 85;
  }
  .cart_lan {
    position: relative;
    left: 290;
    bottom: 120;
  }
  .footer-row-2{
    display: block;
  }
  footer{
    height: auto;
  }
}



/* loader */
#bi{
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    background-color: #2874f0;
    overflow: hidden;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    transform: rotate(-45deg);
    margin: auto;
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    animation: scale-x 1s ease forwards;
    animation-delay: 2.3s;
  }
  .container span{
    flex-basis: 50%;
    aspect-ratio: 1/1;
    display: block;
    transition: opacity 0.7s ease;
  }
  
  .tile-1{
    background-color: white;
    transform-origin: 100% 100%;
    animation: flip-1 0.5s linear forwards;
    border: none;
    opacity: 0;
    transition: opacity 0.7s ease;
  }
  .tile-2{
    background-color: white;
    transform-origin: 50% 100%;
    animation: flip-2 0.5s linear forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  .tile-3{
    background-color: white;
    transform-origin: 50% 0%;
    animation: flip-4 0.5s linear forwards;
    animation-delay: 1.5s;
    opacity: 0;
   
  }
  .tile-4{
    background-color: white;
    transform-origin: 0% 50%;
    animation: flip-3 0.5s linear forwards;
    animation-delay: 1s; 
    opacity: 0;
  }
  
  @keyframes flip-1{
    to{
      transform: rotateY(180deg);
      opacity: 1;
    }
  }
  @keyframes flip-2{
    to{
      transform: rotateX(180deg);
      opacity: 1;
    }
  }
  @keyframes flip-3{
    to{
      transform: rotateY(-180deg);
      opacity: 1;
    }
  }
  @keyframes flip-4{
    to{
      transform: rotateX(-180deg);
      opacity: 1;
    }
  }
  @keyframes scale-x{
   to{
     transform: scale(50);
     opacity: 0;
    }
  }